.tab-container{
    width: 800px;
    margin: 0 auto;
    border: 3px solid lightseagreen;
    border-radius: 10px;
    padding: 20px;
}
.title{
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}
.title-active{
    color: white;
    background-color: lightseagreen;
    border-bottom: 2px solid red;
    border-radius: 6px;


}
.body{
    margin-top: 50px;
    width: 100%;
    display: none;
}
.title-container{
    display: flex;
    justify-content: space-evenly;
}
.show{
    display: block;
}